&.filter {
  display: flex;
  flex-direction: column;


  p:first-of-type {
    text-indent: 0;
  }

  p {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 20px;
  }

  .active {
    color: $color-offblack;
  }

  .tag {
    display: inline;
    text-indent: 0.75rem;
  }

  .tag::after {
    content: " / ";
    color: $color-grey;
  }

  .filter-tags {
    display: flex;
    flex-wrap: wrap;


  }
}
