&.filter {
  display: flex;
  flex-direction: column;


  p:first-of-type {
    text-indent: 0;
  }

  p {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 20px;
  }

  .active {
    color: $color-offblack;
  }

  .tag {
    display: inline;
    text-indent: 0.75rem;
    transition: all .5s;

    &:hover {
      color: $color-offblack
    }
  }



  .tag::after {
    content: " / ";
    color: $color-grey;
  }

  .tag:last-of-type::after {
    display: none;
  }

  .tag:first-of-type {
    margin-left: 5px;
  }

  .filter-tags {
    display: flex;
    flex-wrap: wrap;
  }
}
