&.filter {
  display: flex;

  & p {
    font-size: 1.2rem;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  & .active {
    color: $color-offblack;
  }

  & .tag {
    display: inline;
    text-indent: 0.75rem;
  }

  & .tag::after {
    content: " / ";
    color: $color-grey;
  }

  & .filter-tags {
    display: flex;
  }
}
