.sass-cache
.htaccess
.idea
node_modules
var

style-login.css
style.css
app.min.js

wp-admin
wp-content/languages
wp-content/upgrade
wp-content/uploads
wp-content/plugins
wp-content/themes/twentytwenty/
wp-content/db.php
wp-includes
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-production.php
wp-config-staging.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
wp-xmlrpc.php
index.php
!wp-content/themes/decraene/index.php
xmlrpc.php
