&.blog-detail {


  .intro-image {
    margin-bottom: 40px;
    position: relative;
    top: 0
  }

  .image-wrapper {
    margin-right: 40px;

    a {
      top: -12.5%;
      left: 10px
    }
  }

  .editor-content {
    margin-top: 0
  }
}
