&.front {
  .header {
    .family {
      margin-bottom: 45px;

      img {
        width: 200px;
        margin: 0 auto;

      }
    }

    .logo {
      margin-top: 65px;

      img {
        width: 250px;
        margin: 0 auto
      }
    }

    .services {
      margin-top: 30px
    }

    .service-wrapper {
      margin-top: 20px;
    }
  }

  .graphic-house::before {
    content: none;
  }

  .graphic-house h2::before {
    content: none;
  }

  .column-image-text::before {
    content: none
  }

  .graphic-house {
    .graphic-wrapper {
      margin-bottom: 40px;
    }

    .content-wrapper {
      position: relative;
      margin: 20px 0;
    }

    .solar-power,
    .home-battery,
    .smart-home {
      right: unset;
      left: 0
    }
  }
}
