h1,
h2,
h3,
h4,
h5,
h6,
div,
span {
  font-family: $font-regular;
}

h1,
h2,
h3 {
  font-weight: 200;
}

h1 {
  font-size: 3.5rem;

  @media only screen and (min-width: 768px) {
    font-size: 4.4rem;
  }

  span {
    color: $color-grey;
    font-size: 1.8rem;
    line-height: 23px;
    font-weight: 300;
  }
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 4.4rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

p {
  color: $color-grey;
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: 300;
}

address {
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  // margin: 0 auto;
}

a,
button {
  outline: none;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

.editor-content {

  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }
}

section {

  margin: 75px 0;
  padding: 0 20px;

  @media only screen and (min-width: 992px) {
    margin: 100px 0;

  }

  @media only screen and (min-width: 992px) {
    margin: 150px 0;
    padding: 0;
  }
}

/***
  * TITLE
  */
.title-center {
  position: relative;

  &::before {
    content: "";
    background-image: url(./../../../../../assets/images/logo_bg.png);
    position: absolute;
    width: 125px;
    height: 125px;
    background-repeat: no-repeat;
    z-index: -1;
    top: -25%;
    background-size: 125px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-white;

    @media only screen and (min-width:1200px) {
      background-size: 180px;
      width: 180px;
      height: 180px;
    }
  }
}

.title-left {
  position: relative;
  margin-bottom: 75px;

  &::before {
    content: "";
    background-image: url(./../../../../../assets/images/logo_bg.png);
    position: absolute;
    width: 125px;
    height: 125px;
    background-repeat: no-repeat;
    background-size: 125px;
    z-index: -1;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: -2.5%;

    @media only screen and (min-width: 768px) {
      width: 180px;
      height: 180px;
      background-size: 180px;
    }
  }
}

/***
 * BUTTONS
 */

.button-wrapper {
  text-align: right;
}

.btn {
  font-weight: 600;
  border: solid 1px $color-black;
  border-radius: 25px;
  text-transform: uppercase;

  &.nav {
    background-color: $color-black;
    color: $color-white;
    padding: 0 20px;
    letter-spacing: 0.05em;

    &:hover {
      background-color: $color-orange;
      border-color: $color-orange;
      color: $color-white !important;
    }
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
    @include box-shadow(none);
  }
}



.btn-cta {
  @extend .btn;
  border-radius: 25px;
  font-size: 1.3rem;
  line-height: 50px;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: $color-white;
  background-color: $color-orange;
  border-color: $color-orange;
  padding: 0 35px;
  margin: 20px 0;
  transition: all .5s;

  &-grey {
    @extend .btn-cta;
    color: $color-offblack;
    border-color: $color-offblack;
    background-color: unset;
    font-weight: 600;

    &:hover {
      color: $color-orange;
      border-color: $color-orange;
    }

  }

  &:hover {
    background-color: $color-white;
    color: $color-orange
  }
}



.second-cta {
  @extend .btn;
  color: $color-orange;
  border-radius: 0;
  border: unset;
  position: relative;
  padding: 3px 6px;
  transition: all .5s;

  &:hover {
    color: $color-offblack;
  }
}

.second-cta::before {
  content: "";
  width: 10px;
  height: 1px;
  left: 0;
  top: 0;
  position: absolute;
  background: $color-orange;
}

.second-cta::after {
  content: "";
  height: 10px;
  width: 1px;
  left: 0;
  top: 0;
  position: absolute;
  background: $color-orange;

}
