$color-white: #FFFFFF;
$color-offwhite: #F5F6FA;
$color-black: #000000;
$color-offblack: #333333;

$color-grey: #A6A3A0;
$color-orange: #EF7B00;

/*****************************/
/*********** FONTS ***********/
/*****************************/

$font-regular: 'Muli',
sans-serif;
