$color-white: #FFFFFF;
$color-offwhite: #F5F6FA;
$color-black: #000000;
$color-offblack: #333333;

$color-grey: #A6A3A0;
$color-lightgrey: #EFEFEF;
$color-lightestgrey: #e5e5e5;
$color-orange: #EF7B00;
$color-red: #EF0000;
$color-blue: #007CEF;


/*****************************/
/*********** FONTS ***********/
/*****************************/

$font-regular: 'Muli',
sans-serif;
