&.front {

  .header {


    .services {
      margin-top: 20px
    }
  }

  .graphic-house {

    h2::before {
      content: "";
      position: absolute;
      width: 1px;
      background-color: $color-lightestgrey;
      height: 80px;
      top: -9%;
      left: 50%;
    }

    .electricity {
      top: -10%
    }

    .solar-power {
      top: -20%
    }

    .smart-home {
      left: 5%
    }

    &::before {
      height: 75px
    }
  }

  .column-image-text::before {
    top: -20%;
    height: 75%
  }
}
