footer#site-footer {
  border-top: solid 1px $color-lightestgrey;

  a,
  p {
    font-size: 1.2rem;
  }

  a {
    color: $color-offblack;
  }

  p {
    line-height: 20px;
  }

  li {
    line-height: 28px;
  }

  span {
    font-weight: 700;
  }

  img {
    margin-bottom: 20px;
  }

  .main-menu {
    margin: 0;
  }

  .nav {
    padding: 80px 0;
  }

  .madeby {
    background-color: $color-lightgrey;

    p,
    a {
      color: $color-grey;
      line-height: 60px;
    }
  }

}
