nav {
  background-color: $color-white;
  height: 140px;
  padding: 0.5rem 1rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);

  .navbar-collapse {
    box-shadow: unset;
  }

  .navbar-brand {
    position: absolute;
    top: 0px;
    z-index: 10000;
    width: fit-content;
  }

  .phonenumber {
    position: relative;
    padding-left: 20px;
    display: unset;
  }

  .phonenumber::after {
    content: "";
    background-image: image-url('phone-icon.svg');
    background-repeat: no-repeat;
    width: 15px;
    height: 50px;
    position: absolute;
    top: 5%;
    left: 0;
  }

  .main {
    margin-top: 25px;

    .nav-link {
      color: $color-offblack;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 40px;
      transition: 0.25s all;
      margin: 0 20px;

    }

    .nav-link:hover {
      color: $color-orange;
    }

    .btn {
      color: $color-white;
      font-size: 1.2rem;
      font-weight: 700;
      margin-right: 20px;
    }

    .active {
      color: $color-orange;
    }
  }

  .meta {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;

    text-transform: uppercase;
    margin: 20px 20px;
    padding-top: 10px;

    .nav-item {
      font-size: 1.1rem;
      line-height: 14px;
      margin: 0 7.5px;
      letter-spacing: 0.05em;

      .nav-link {
        color: $color-grey;
        letter-spacing: 0.05em;
        transition: 0.5s all;
      }

      .nav-link:hover {
        color: $color-orange;
      }

      .active {
        color: $color-orange;
      }
    }
  }

  .scrolling {
    padding-top: -30px;
  }
}
