nav {
  background-color: $color-white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  height: 40px;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);

  @media only screen and (min-width: 992px) {
    height: 140px;
    padding: 0.5rem 1rem;
  }

  .navbar-collapse {
    background-color: $color-white;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);

    @media only screen and (min-width: 992px) {
      box-shadow: unset;
    }
  }

  & .navbar-brand {
    position: absolute;
    top: 0px;
    width: 75px;
    z-index: 10000;

    @media only screen and (min-width: 992px) {
      width: fit-content;
    }
  }

  .phonenumber {
    position: relative;
    padding-left: 20px;
    display: none;

    @media only screen and (min-width: 768px) {
      display: unset;
    }
  }

  .phonenumber::after {
    content: "";
    background-image: url(./../../../../../assets/images/phone-icon.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 50px;
    position: absolute;
    top: 5%;
    left: 0;
  }

  .main {
    margin-top: 25px;

    & .nav-link {
      color: $color-offblack;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 40px;
      margin: 0 30px;
      transition: 0.25s all;

      @media only screen and (min-width: 992px) {
        margin: 0 20px;

      }

      @media only screen and (min-width: 1200px) {
        margin: 0 30px;

      }
    }

    & .nav-link:hover {
      color: $color-orange;
    }

    & .btn {
      color: $color-white;
      font-size: 1.2rem;
      font-weight: 700;
      margin-right: 20px;
    }

    & .nav-link .active {
      color: $color-orange;
    }
  }

  .meta {
    text-transform: uppercase;
    margin: 20px 20px;
    border-top: 1px solid $color-grey;
    padding-top: 10px;

    @media only screen and (min-width: 992px) {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      border: none;
    }

    & .nav-item {
      font-size: 1.1rem;
      line-height: 14px;
      margin: 0 7.5px;
      letter-spacing: 0.05em;

      & .nav-link {
        color: $color-grey;
        letter-spacing: 0.05em;
        transition: 0.5s all;
      }

      & .nav-link:hover {
        color: $color-orange;
      }

      & .nav-link .active {
        color: $color-orange;
      }
    }
  }

  .scrolling {
    display: none;
  }
}
