&.carousel-wrapper {

  .carousel-control-next,
  .carousel-control-prev {
    background-color: $color-lightgrey;
    width: 50px;
    height: 50px;
    opacity: 1;
    position: absolute;
    transition: all 0.5s;
    top: unset;
    bottom: -5%;

  }

  .carousel-control-prev {
    left: unset;
    right: 10%
  }

  .carousel-control-next:hover,
  .carousel-control-prev:hover {
    transform: scale(1.1);
    background-color: $color-orange;
  }

  .carousel-control-next::after {
    content: "";
    display: inline-block;
    position: relative;
    background-image: image-url('arrow.svg');
    background-repeat: no-repeat;

    transform: rotate(-180deg);
    width: 12px;
    height: 16px;
  }

  .carousel-control-prev::after {
    content: "";
    display: inline-block;
    position: relative;
    background-image: image-url('arrow.svg');
    background-repeat: no-repeat;
    width: 12px;
    height: 16px;
  }

}
