&.certification {
  position: relative;

  .certification-blocks {
    margin-right: 50px;

    .image-wrapper {
      background-color: $color-white;
      margin: 0 10px;
      width: fit-content;
      box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.1);
      margin: 15px;


      img {
        padding: 15px 0;
        width: fit-content;
      }
    }
  }

  p {
    font-size: 1.3rem;
    line-height: 19px;
  }

  span {
    font-weight: 700;
    color: $color-offblack;
  }

  &::before {
    content: "";
    position: absolute;
    background: $color-lightestgrey;
    top: 35px;
    bottom: 35px;
    left: 0;
    z-index: -1;
    width: 60%;
    height: auto;
  }
}
