&.column-image-text {
  .image-wrapper {
    position: relative;
    display: block;
    background-color: $color-lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15px;

    img {
      margin-left: -15px;
      width: 100%;
    }


  }

  h2,
  p {
    margin-bottom: 15px;
  }

  .right {
    margin-left: 0;
    margin-right: 15px;

    img {
      margin-left: 20px;
    }
  }
}
