&.column-image-text {
  .image-wrapper {
    position: relative;
    display: block;
    background-color: $color-lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15px;

    img {
      margin-left: -15px;
      width: 100%;
    }
  }

  .content-wrapper {
    margin-left: 25px;
  }

  h2,
  p {
    margin-bottom: 15px;
  }

  .right {
    .content-wrapper {
      margin-left: unset;
      margin-right: 25px;
    }

    .image-wrapper {
      margin-left: 0;
      margin-right: 15px;

      img {
        margin-left: 20px;
      }
    }
  }
}
