&.cta {
  position: relative;
  margin-bottom: 0;

  & img {
    margin-bottom: -30px;
  }

  & .content-wrapper {
    margin-left: 50px;
    margin-top: 40px;

    & .editor-content {
      margin: 20px 0;
    }
  }

  &:before {
    content: "\A";
    position: absolute;
    background: $color-lightgrey;
    top: 30%;
    bottom: 0;
    left: 0;
    width: 50%;
    z-index: -1;
  }
}
