&.cta {
  position: relative;
  margin-bottom: 0;

  img {
    margin-bottom: -19px;


    @media only screen and (min-width: 768px) {
      margin-bottom: -75px;
    }

    @media only screen and (min-width: 992px) {
      margin-bottom: -30px;
    }
  }

  .content-wrapper {
    margin-top: 40px;

    @media only screen and (min-width: 768px) {
      margin-left: 50px;
    }

    .editor-content {
      margin: 20px 0;
    }
  }

  &:before {
    content: "\A";
    position: absolute;
    background: $color-lightgrey;
    top: 0;
    width: 100%;
    bottom: 0;
    left: 0;

    z-index: -1;

    @media only screen and (min-width: 768px) {
      width: 50%;
      top: 30%;

    }
  }
}
