&.faq-list {

  .titel {
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: #EFEFEF;
  }

  .question-wrapper {
    border-bottom: solid $color-grey 1px;
    padding-bottom: 20px;

    .question {
      font-weight: 600;
      color: $color-offblack;
      margin: 30px 0;
      position: relative;
    }

    .question::after {
      position: absolute;
      display: inline-block;
      content: "";
      background-image: url(./../../../../../assets/images/arrow.svg);
      background-repeat: no-repeat;
      top: 0;
      left: -35px;
      width: 16px;
      height: 16px;
      transform: rotate(-90deg);
    }

    & .answer p {
      padding: 10px 0
    }

    & .hide {
      display: none;
    }
  }
}
