&.faq-list {

  .titel {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 40px;
    text-transform: uppercase;
    color: $color-lightgrey;

    @media only screen and (min-width: 992px) {
      line-height: 50px;
      font-size: 4.5rem;

    }

    @media only screen and (min-width: 1200px) {
      font-size: 5rem;
    }
  }

  .question-wrapper {
    border-bottom: solid $color-grey 1px;
    margin-bottom: 30px;


    .question {
      font-weight: 600;
      color: $color-offblack;
      position: relative;
      padding-left: 30px;
      margin-bottom: 30px;

      @media only screen and (min-width: 768px) {
        padding-left: 0;
      }
    }

    .question::after {
      position: absolute;
      display: inline-block;
      content: "";
      background-image: url(./../../../../../assets/images/arrow.svg);
      background-repeat: no-repeat;
      top: 0;
      left: 0px;
      width: 16px;
      height: 16px;
      transform: rotate(-90deg);

      @media only screen and (min-width: 768px) {
        left: -30px;
      }

      @media only screen and (min-width: 1200px) {
        left: -35px;
      }
    }

    & .answer {
      padding-bottom: 20px;

      p {
        padding: 10px 0;
        padding-left: 30px;


        @media only screen and (min-width: 768px) {
          padding-left: 0;
        }
      }
    }

    & .hide {
      display: none;

    }
  }
}
