&.faq-list {

  .titel {
    font-weight: 900;

    text-transform: uppercase;
    color: $color-lightgrey;
    line-height: 50px;
    font-size: 3.5rem;
  }

  .question-wrapper {
    border-bottom: solid $color-grey 1px;
    margin-bottom: 30px;


    .question {
      font-weight: 600;
      color: $color-offblack;
      position: relative;
      margin-bottom: 30px;
      padding-left: 0;
    }

    .question::after {
      position: absolute;
      display: inline-block;
      content: "";
      background-image: image-url('arrow.svg');
      background-repeat: no-repeat;
      top: 0;
      width: 16px;
      height: 16px;
      transform: rotate(-90deg);
      left: -30px;
    }

    .answer {
      padding-bottom: 20px;

      p {
        padding: 10px 0;
        padding-left: 0;
      }
    }

    .hide {
      display: none;
    }
  }
}
