&.image-grid {
  .column {
    padding: 6px;
    max-width: 20%;
  }

  .image-wrapper {
    margin-top: 12px;
  }

  img {
    filter: grayscale(100%);
    transition: all 1s;
  }

  img:hover {
    filter: grayscale(0%)
  }
}
