&.intro {
  position: relative;
  display: inline-block;



  &::after {
    content: "";
    background-color: $color-orange;
    position: absolute;
    width: 180px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: 150px;
  }
}

// &.intro::after {
//   content: "";
//   background-color: $color-orange;
//   // background-image: url(./../../../../../assets/images/logo_bg.png);
//   position: absolute;
//   width: 180px;
//   height: 180px;
//   background-repeat: no-repeat;
//   background-size: 150px;
// }
h2 {
  color: $color-orange;
}
