&.projects {
  .column-project {
    a {
      color: $color-offblack;
    }

    .image-wrapper {
      position: relative;
      background: $color-offblack;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: 10px;
      margin-right: 30px;
      transition: all .5s ease-in-out;
    }

    img {
      width: 100%;
      margin-left: -10px;
    }

    .content-wrapper {
      margin-left: 10px;
      margin-top: 25px;

      h5 {
        transition: all .5s ease-in-out;
      }
    }

    &:hover {
      .image-wrapper {
        transform: scale(1.05);
      }

      h5 {
        color: $color-orange;
      }
    }
  }
}
