&.services {

  .main-services,
  .second-services {
    margin-top: 50px;
    margin-bottom: 150px;
  }

  .main-service {
    position: relative;

    p {
      font-size: 2.8rem;
      line-height: 38px;
      color: $color-offblack;
      font-weight: 600;
      margin-top: -20px;
      margin: -20px 20px 30px;
      z-index: 2;
    }
  }

  .image-wrapper {
    display: block;
    background-color: $color-lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;

    margin-left: 0;

    img {
      margin-left: -20px;
    }
  }

  .right {
    margin-left: 0;
    margin-right: 0;

    img {
      margin-left: 20px;
    }
  }

  .second-service {
    background-color: $color-offblack;
    height: 150px;
    margin-bottom: 0;

    p {
      color: $color-white;
      font-weight: 600;
      line-height: 38px;
      height: inherit;
      padding: 50px 0;
      font-size: 2.5rem;
    }
  }
}
