&.about {
  .column-image-text {
    position: relative;
  }

  .column-image-text:nth-of-type(2) .row::before {
    content: "";
    position: absolute;
    width: 1px;
    background-color: $color-lightestgrey;
    left: 50%;
    z-index: -4;
    height: 50vh;
    bottom: 0;
  }
}
