&.front {}

.header {
  margin-top: 0;
  background: linear-gradient(270deg, #EF952D 0%, rgba(255, 255, 255, 0) 100%), #EF7B00;
  outline: 1px solid rgba($color: $color-white, $alpha: 0.33);
  outline-offset: -45px;

  & p {
    color: $color-white;
    font-size: 1.2rem;
    line-height: 15px;
  }
}

//must go to sections intro butt is not working

.intro .content-wrapper {
  position: relative;

  &::before {
    content: "";
    background-image: url(./../../../../../assets/images/logo_bg.png);
    position: absolute;
    width: 180px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: 150px;
    z-index: -1;
    left: 42.5%;
    top: -50%;
  }
}

//must go to section cta butt is not working

.cta {
  // background-color: $color-grey;
  position: relative;
  margin-bottom: 0;

  & img {

    margin-bottom: -30px;
  }

  // position: relative;
}

.cta:before {
  content: '\A';
  position: absolute;
  background: #e5e5e5;
  top: 30%;
  bottom: 0;
  left: 0;
  width: 50%;
  z-index: -1;
}

//must go to section column-text-image-left

.column-text-image {
  & .image {
    position: relative;
    display: block;

    &::after {
      content: '';
      position: absolute;
      background: #EFEFEF;
      top: -5%;
      bottom: -5%;
      z-index: -1;
    }
  }

  & .left::after {
    @extend .image;
    left: 5%;
    right: -1%;
  }

  & .right::after {
    @extend .image;
    right: 5%;
    left: -1%;
  }

  & .content-wrapper {
    margin-left: 30px;
  }

  & h3,
  p {
    margin-bottom: 15px;
  }
}

//must go into section projects 

.projects {
  & .column-project {
    & .image {
      position: relative;
      display: block;
    }

    & .image::after {
      content: '';
      position: absolute;
      background: $color-offblack;
      top: -2.5%;
      bottom: -2.5%;
      left: 5%;
      right: 1%;
      z-index: -1;
    }

    & .content-wrapper {
      margin-top: 25px;
    }
  }


}
