&.front {
  .header {
    margin-top: 0;
    background: linear-gradient(270deg, #ef952d 0%, rgba(255, 255, 255, 0) 100%),
      $color-orange;
    outline: 1px solid rgba($color: $color-white, $alpha: 0.33);
    outline-offset: -45px;
    position: relative;

    .family {
      margin-top: 50px;

      margin-bottom: 0;
      bottom: 0;

      img {
        width: fit-content;
      }
    }

    .logo {
      margin-top: 0;

      img {
        width: fit-content;
      }
    }

    .services {
      margin-top: 60px;
    }

    .service-wrapper {
      margin-top: 0;

      img {
        display: inline-block;
      }
    }

    p {
      color: $color-white;
      font-size: 1.2rem;
      line-height: 15px;
    }

    .discover-services {
      position: absolute;
      font-weight: 600;
      font-size: 1.1rem;
      line-height: 14px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      width: 200px;
      height: 14px;
      bottom: 17px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  .graphic-house {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      background-color: $color-lightestgrey;
      height: 175px;
      bottom: 8.5%;
      left: 50%;
    }

    h2::before {
      content: "";
      position: absolute;
      width: 1px;
      background-color: $color-lightestgrey;
      height: 145px;
      top: -16%;
      left: 50%;
    }

    .graphic-wrapper {
      position: relative;
      margin-top: 125px;
      margin-bottom: 172px;
    }

    .image-wrapper {
      display: flex;
      justify-content: center;
    }

    .content-wrapper {
      width: 260px;
      position: absolute;

      h4 {
        line-height: 30px;
        color: $color-orange;
        font-weight: 300;
      }

      p {
        font-size: 13px;
        line-height: 19px;
      }
    }

    .electricity {
      top: 11.5%;
      padding: 10px;
      left: -5%;

      &::before {
        content: "";
        position: absolute;
        width: 37.5%;
        height: 1px;
        bottom: 10px;
        background-color: $color-orange;
        left: 100%;
      }

      div {
        &::before {
          content: "";
          width: 20px;
          height: 1px;
          right: 0;
          bottom: 0;
          position: absolute;
          background: $color-orange;
        }

        &::after {
          content: "";
          width: 1px;
          height: 20px;
          right: 0;
          bottom: 0;
          position: absolute;
          background: $color-orange;
        }
      }


    }

    .solar-power {
      right: -20px;
      top: -5%;
      padding: 10px;

      &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        bottom: 10px;
        background-color: $color-orange;
        right: 100%;
      }

      div {
        &::before {
          content: "";
          width: 20px;
          height: 1px;
          bottom: 0;
          left: 0;
          position: absolute;
          background: $color-orange;
        }

        &::after {
          content: "";
          width: 1px;
          height: 20px;
          left: 0;
          bottom: 0;
          position: absolute;
          background: $color-orange;
        }
      }


    }

    .home-battery {
      bottom: -10%;
      right: -9.25%;
      padding: 10px;

      &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 120%;
        bottom: 100%;
        background: $color-orange;
        left: 10px
      }

      div {
        margin-right: 20px;

        &::before {
          content: "";
          width: 20px;
          height: 1px;
          left: 0;
          top: 0;
          position: absolute;
          background: $color-orange;
        }

        &::after {
          content: "";
          width: 1px;
          height: 20px;
          left: 0;
          top: 0;
          position: absolute;
          background: $color-orange;
        }
      }

    }

    .smart-home {
      left: 14.5%;
      padding: 10px;

      &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 245%;
        bottom: 100%;
        background: $color-orange;
        left: 10px
      }

      div {
        &::before {
          content: "";
          width: 20px;
          height: 1px;
          left: 0;
          top: 0;
          position: absolute;
          background: $color-orange;
        }

        &::after {
          content: "";
          width: 1px;
          height: 20px;
          left: 0;
          top: 0;
          position: absolute;
          background: $color-orange;
        }
      }
    }
  }

  .column-image-text {
    position: relative;
  }

  .column-image-text::before {
    content: "";
    position: absolute;
    background-color: $color-lightestgrey;
    width: 1px;
    height: 100%;
    top: -35%;
    left: 50%;
  }
}
